.slider {
	display: flex;
	position: relative;

	.sliderPic {
		height: 415px;
		width: 1240px;
		object-fit: cover;
		border-radius: 25px;
	}

	.arrow-prev {
		position: absolute;
		left: 0;
		top: 40%;
	}

	.arrow-next {
		position: absolute;
		right: 0;
		top: 40%;
	}

	.nbrPic {
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform: translateX(-50%);
		font-family: $font-1;
		font-size: 18px;
		color: white;
	}
}
